a
	cursor: pointer
img
	border: 0
pre
	padding: 0
	word-break: normal
	word-wrap: normal
	> code
		white-space: pre
		padding: 13.5px
		&.hljs
			padding: 13.5px
code
	white-space: nowrap
	overflow: auto
	padding: 5px
	background-color: #272822
.hljs.inline
	white-space: normal
	vertical-align: middle
	display: inline-block
	margin-left: 5px